@import '~js-datepicker/src/datepicker';

$hydration-color: #5BC8AC;
$sleep-color: #EC96A4;
$activity-color: #DFE166;

@mixin simple-border($color) {
  border: 1px solid $color;
}

@mixin standard-flex($direction){
  display: flex;
  flex-direction: $direction;
}

@mixin add-data-button($color){
    font-size: 1.2em;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: $color;
    &:hover{
      background-color: complement($color);
    }
}

* {
  margin: 0;
}

body {
  margin: 0;
  background-color: #4d4e4f;
  height: auto;
  font-family: 'Open Sans';
}

h1 {
  padding-top: 10px;
  height: 80px;
  color: #ffffff;
  text-align: center;
}

#hydration-submit {
  @include add-data-button($activity-color)
}

#activity-submit {
  @include add-data-button($sleep-color)
}

#sleep-submit {
  @include add-data-button($activity-color)
}

.main {
  @include standard-flex(row);
  height: 1500px;
}

.main-sidebar-body {
  @include standard-flex(row);
  width: 25%;
  height: 100%;
}

.body-sidebar-sidebarContainer {
  @include simple-border(black);
  @include standard-flex(column);
  align-items: center;
  background-color: #9A9DAB;
  overflow: scroll;
  text-align: center;
}

#sidebarName {
  text-align: center;
}

.sidebar-header-userInfo {
  margin: .5em .5em .5em .5em;
  width: inherit;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.sidebar-header-line {
  margin: 1em 1em 0 1em;
  border: 1px solid black;
  width: 80%;
  height: 0;
  color: #ffffff;
}

.sidebar-header-userImage {
  justify-content: center;
  margin: 4px 2px 2px 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  width: 200px;
  height: 200px;
}

.sidebar-body-friendContainer {
  @include standard-flex(column);
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainter {
  @include standard-flex(column);
  margin: 0 0 1em;
  border: 1px solid black;
  width: 100%;
  overflow: scroll;
}

.main-column-hydration {
  @include standard-flex(row);
  height: 25%
}

.main-column-activity {
  @include standard-flex(row);
  height: 50%
}

.main-column-sleep {
  @include standard-flex(row);
  height: 35%
}

.infoContainer-cardContainer-card-horizontal {
  @include simple-border(black);
  @include standard-flex(column);
  align-items: center;
  justify-content: flex-start;
  margin: 1%;
  background-color: white;
  width: 100%;
}

.horizontalCard-activity-container {
  @include standard-flex(row);
  justify-content: space-around;
  width: 100%;
  overflow: scroll;
}

.infoContainer-cardContainer-card-vertical {
  @include standard-flex(row);
  margin: 1%;
  border: 1px solid black;
  background-color: white;
  width: 100%;
  overflow: scroll;
}

.card-today-hydration {
  @include standard-flex(column);
  justify-content: space-between;
  margin: .5em;
  background-color: $hydration-color;
  width: 80%;
  height: auto;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.card-today-sleep {
  @include standard-flex(column);
  justify-content: space-between;
  margin: .5em;
  background-color: $sleep-color;
  width: 80%;
  height: auto;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.card-today-activity {
  @include standard-flex(column);
  justify-content: space-between;
  margin: .3em;
  background-color: $activity-color;
  width: 40%;
  height: auto;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.card-history-hydration {
  @include standard-flex(column);
  justify-content: flex-start;
  margin: .5em;
  background-color: $hydration-color;
  width: 50%;
  font-family: sans-serif;
  font-size: .8em;
  text-align: center;
}

.card-history-sleep {
  @include standard-flex(column);
  justify-content: flex-start;
  margin: .5em;
  background-color: $sleep-color;
  width: 50%;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}

.card-history-activity {
  @include standard-flex(column);
  justify-content: flex-start;
  margin: .5em;
  background-color: $activity-color;
  width: 50%;
  height: 93%;
  overflow: scroll;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}

.number {
  color: #4d4e4f;
  font-kerning: normal;
  font-size: 1.8em;
  font-weight: bolder;
}

.historicalWeek {
  margin: .5em;
  color: black;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
}

.thisWeek {
  margin: .5em;
  color: black;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
}

.card-vertical-list {
  padding-left: 0;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  list-style-type: none;
}

.historical-list-listItem {
  padding: .3em;
  font-family: sans-serif;
  font-weight: bold;
}
.hydration-input {
  @include standard-flex(column);
  justify-content: flex-start;
  margin: 1em;
  background-color: $hydration-color;
  height: 100%;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}
.hydration-input-container {
  @include simple-border(black);
  @include standard-flex(column);
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  background-color: white;
  width: 50%;
}

.activity-input-container {
  @include simple-border(black);
  @include standard-flex(column);
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  background-color: white;
  width: 50%;
}

.sleep-input-container {
  @include simple-border(black);
  @include standard-flex(column);
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  background-color: white;
  width: 50%;
}

.sleep-input {
  @include standard-flex(column);
  justify-content: flex-start;
  margin: 1em;
  background-color: $sleep-color;
  height: 100%;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}

.activity-input {
  @include standard-flex(column);
  justify-content: flex-start;
  margin: 1em;
  background-color: $activity-color;
  height: 100%;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}


@media screen and (max-width: 600px) {
  * {
    position: relative;
  }
  .main {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    height: 1600px;
  }


  .col1 {
    display: inline-block;
    width: 100%;
  }

  .col2 {
    display: inline-block;
    width: 100%;
  }

  .col3 {
    display: inline-block;
    width: 100%;
  }

  .main-sidebar-body{
    display: inline-block;
    width: 100%;
  }
}
